@import "tailwindcss";

@theme {
  --color-primary-100: #EEE3FF;
  --color-primary-600: #8054C7 ;
  --color-primary-700: #5A3696;
  --color-secondary-600: #63D838;
  --color-text-600: #1F2937;

}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #ffff;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font-family: "Inter", sans-serif;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
